In [1]:
tup = 4 ,5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tuple([4, 0, 2])

(4, 0, 2)

In [7]:
tup = tuple('string')

In [8]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [9]:
tup[0]

's'

In [10]:
tup = tuple(['foo', [1, 2], True])

In [12]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [13]:
tup[1].append(3)

In [14]:
tup

('foo', [1, 2, 3], True)

In [15]:
(4, None ,'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [16]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [17]:
tup = (4, 5, 6)

In [18]:
a, b, c = tup

In [19]:
b

5

In [20]:
tup = 4, 5, (6, 7)

In [21]:
a, b, (c, d) = tup

In [22]:
d

7

In [23]:
a, b = 1, 2

In [24]:
b, a = a, b

In [25]:
a

2

In [26]:
seq = [(1, 2, 3), (4, 5, 6),(7, 8, 9)]

In [28]:
for a, b, c in seq:
    print('a={}, b = {}, c = {}'.format(a, b, c))

a=1, b = 2, c = 3
a=4, b = 5, c = 6
a=7, b = 8, c = 9

In [29]:
values = 1, 2, 3, 4, 5

In [34]:
a, b, *rest = values

In [35]:
a, b

(1, 2)

In [36]:
rest

[3, 4, 5]

In [37]:
a, b, *_ = values

In [38]:
a = (1, 2, 2, 2, 3, 4, 2)

In [39]:
a.count(2)

4

In [40]:
a_list = [2, 3, 7, None]

In [41]:
tup = ('foo', 'bar', 'baz')

In [42]:
b_list = list(tup)

In [43]:
b_list

['foo', 'bar', 'baz']

In [44]:
b_list[1] = 'peekaboo'

In [45]:
b_list

['foo', 'peekaboo', 'baz']

In [46]:
gen = range(19)

In [47]:
gen

range(0, 19)

In [48]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [49]:
b_list.append('dwarf')

In [50]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [51]:
b_list.insert(1, 'red')

In [52]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [53]:
b_list.pop(2)

'peekaboo'

In [54]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [55]:
b_list.append('foo')

In [56]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [57]:
b_list.remove('foo')

In [58]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [59]:
'dwarf' in b_list

True

In [60]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [61]:
x = [4, None, 'foo']

In [62]:
x.extend([7, 8, (2, 3)])

In [63]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [64]:
everything = []

In [65]:
for chunk in list_of_lists:
    everything.extend(chunk)

NameError: name 'list_of_lists' is not defined

In [66]:
a = [7, 2, 5, 1, 3]

In [69]:
a.sort()

In [70]:
a

[1, 2, 3, 5, 7]

In [71]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [72]:
b.sort(key = len)

In [73]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [74]:
import bisect

In [75]:
c = [1, 2, 2, 2, 3, 4, 7]

In [76]:
bisect.bisect(c, 2)

4

In [83]:
bisect.insort(c, 5)

In [84]:
c

[1, 1, 2, 2, 2, 3, 3, 4, 5, 6, 7]

In [85]:
bisect.bisect(c, 7)

11

In [86]:
len(c)

11

In [87]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [88]:
seq[1:5]

[2, 3, 7, 5]

In [89]:
seq[3:4] = [6, 3]

In [90]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [91]:
some_list = ['foo', 'bar', 'baz']

In [92]:
mapping = {}

In [93]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [94]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [95]:
somt_list = ['foo', 'bar', 'baz']

In [101]:
mappinga = {}

In [105]:
for i, v in enumerate(somt_list):
    mappinga[v] = i

In [106]:
mappinga

{'foo': 0, 'bar': 1, 'baz': 2}

In [107]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [108]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [109]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two']

In [110]:
zipped = zip(seq1, seq2)

In [112]:
list(zipped)

[('foo', 'one'), ('bar', 'two')]

In [113]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [114]:
first_names, last_names = zip(*pitchers)

In [116]:
first_names

('Nolan', 'Roger', 'Schilling')

In [117]:
a = [[1,2,3], [4,5,6]]
print (a)
# print (map(list, zip(*a)))    
print (list(map(list, zip(*a))))

[[1, 2, 3], [4, 5, 6]]
[[1, 4], [2, 5], [3, 6]]

In [118]:
list(map(list, zip(*a)))

[[1, 4], [2, 5], [3, 6]]

In [121]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{}:{},{}'.format(i, a, b))

0:foo,one
1:bar,two

In [124]:
a = reversed(range(10))

In [126]:
list(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [128]:
print(range(1))

range(0, 1)

In [129]:
empty_dict = {}

In [130]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

In [131]:
d1[4] = 'an imteger'

In [132]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 4: 'an imteger'}

In [133]:
d1['b']

[1, 2, 3, 4]

In [134]:
'b' in d1

True

In [135]:
d1[5] = 'some value'

In [136]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 4: 'an imteger', 5: 'some value'}

In [137]:
d1['dummy'] = 'another value'

In [138]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 4: 'an imteger',
 5: 'some value',
 'dummy': 'another value'}

In [140]:
del d1[5]

In [141]:
ret = d1.pop('dummy')

In [142]:
ret

'another value'

In [143]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 4: 'an imteger'}

In [144]:
list(d1.keys())

['a', 'b', 4]

In [145]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an imteger']

In [146]:
d1.update({'b': 'foo', 'c': 12})

In [147]:
d1

{'a': 'some value', 'b': 'foo', 4: 'an imteger', 'c': 12}

In [ ]:
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [149]:
mapping = dict(zip(range(5), reversed(range(5))))

In [150]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [176]:
some_dict = {}
some_dict[1] = 123

In [180]:
value = some_dict.setdefault('key', 'default_value')

In [ ]:
value

In [181]:
some_dict

{1: 123, 'key': 'default_value'}

In [168]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

In [169]:
for word in words: 
    letter = word[0]
    if letter not in by_letter:       
        by_letter[letter] = [word]
    else:       
        by_letter[letter].append(word)

In [171]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [172]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [ ]:
mapping = dic